<head>
  <meta charset="UTF-8">
  <title>SDG Site</title>

</head>

<body>

<div class="content">
  <h1>Compacts!</h1>
  <h3>Hello {{user.nickname}} !</h3>
  <p>Here you can view existing compacts.</p>
  {{#compactFn compacts}}
    <p>{{id}}&emsp;{{year}}&emsp;{{name}}</p>
  {{/compactFn}}
</div>

</body>
