<head>
  <meta charset="UTF-8">
  <title>Climate Smart San Jose Monitoring Dashboard</title>

</head>

<body>

<div class="content">
  <a href="/index">Back</a>
  <h1>Compacts!</h1>
  <h3>Hello {{user.nickname}} !</h3>
  <p>Here you can create your own compact.</p>
  <form method="post">
    <label for="compact_indic">Indicator: </label>
    <input id="compact_indic" type="text" name="indicator">
    <label for="compact_metric">Metric: </label>
    <input id="compact_metric" type="text" name="metric">
    <label for="location">Location: </label>
    <input id="location" type="text" name="location">
    <label for="milestones">Milestones: </label>
    <input id="milestones" type="text" name="milestones">
    <input type="submit" value="OK">
  </form>
  <p>Would you like to view all compacts?</p>
  <a href="/compacts/view">View Compacts</a>
</div>

</body>
