<head>
  <meta charset="UTF-8">
  <title>SDG Site</title>

</head>

<body>

<div class="content">
  <img src={{user.picture}}>
  <h1>Welcome {{user.nickname}}!</h1>
  <br>
  <h2>User Profile</h2>
  {{{userProfile}}}
  <br>
  <a href='/logout'>Logout</a>
</div>

</body>
